* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px 20px;
  font-size: 16px;
  padding: 6px;
  background-size: contain;
}
span,legend {
  color: rgb(13, 133, 163);
  padding: 1px;
  font-weight: bolder;
}
.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  margin: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 9px;
  border: 2px solid black;
  border-radius: 5px;
}

.a {
  background-color: rgb(20, 241, 0);
  border: 1px solid black;
  padding: 8px;
  font-size: 130%;
  width: 100%;
  border-radius: 4px;
}
.a:hover {
  color: lightgreen;
}

.star{
    color: red;
}

::placeholder{
    font-weight: bold;
}